[user]
  name = Julien Nicoulaud
  email = julien.nicoulaud@gmail.com

[core]
  editor = vim
  pager = less -FRSX
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = auto
  pager = true

[merge]
  tool = meld

[branch]
  autosetuprebase = always

[push]
  default = matching

[diff]
  rename = copy
  color = auto

[apply]
  whitespace = fix

[pager]
  color = true

[status]
  color = auto

[sendemail]
	smtpserver = smtp.gmail.com
	smtpserverport = 587
	smtpencryption = tls
	smtpuser = julien.nicoulaud@gmail.com
#	smtppass = XXXXXXXXX

[alias]
  co = checkout
  ci = commit
  cia = commit --all
  d = diff --color-words
  b = branch --verbose
  w = whatchanged
  st = status --short
  ll = log --graph --pretty=format:\"%C(yellow)%h %C(green)%d%Creset %s  %C(black bold)%an, %ar%Creset\"
  lll = log --stat --decorate --graph
  rl = reflog  --date=relative
  po = push-current
  pu = pull-current
  ar = add-remove
  pastebinit = !sh -c 'git format-patch -1 --stdout $1 | pastebinit -f diff' -

