[user]
  name = Julien Nicoulaud
  email = julien.nicoulaud@gmail.com
  signingkey = A20BF77D

[core]
  editor = vim
  pager = which diff-so-fancy &>/dev/null && diff-so-fancy | less --tabs=4 -RFX || less --tabs=4 -RFX
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
  autocrlf = input

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = auto
  pager = true

[merge]
  tool = meld

[branch]
  autosetuprebase = always

[push]
  default = current

[diff]
  rename = copy
  color = auto

[apply]
  whitespace = fix

[pager]
  color = true

[status]
  color = auto

[alias]
  co = checkout
  ci = commit
  cia = commit --all
  d = diff
  b = branch --verbose
  w = whatchanged
  st = status --short
  ll = log --graph --pretty=format:\"%C(yellow)%h %C(green)%d%Creset %s  %C(black bold)%an, %ar%Creset\"
  lll = log --stat --decorate --graph
  rl = reflog  --date=relative
  ar = add-remove
  sclone = clone --depth=1
  pastebinit = !sh -c 'git format-patch -1 --stdout $1 | pastebinit -f diff' -

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22

[commit]
  gpgsign = true

[url "https://github/"]
  insteadOf = "gh:"
[url "git@github.com:"]
  pushInsteadOf = "gh:"
[url "git://gist.github.com/"]
  insteadOf = "gist:"
[url "git@gist.github.com:"]
  pushInsteadOf = "gist:"
[url "https://aur.archlinux.org/"]
  insteadOf = "aur:"
[url "ssh+git://aur4.archlinux.org/"]
  pushInsteadOf = "aur:"
[url "git@git.nicoulaj.net:"]
  insteadOf = "nicoulaj:"

[include]
  path = ~/.gitconfig.local
